.birthday-entry {
    margin: 0px auto;
    max-width: 100%;
    max-height: 350px;
    margin-top: 5%;
    overflow-y:scroll;
    padding: 10px;
}

.welcome-banner {
    width: 75%;
    margin: 0px auto;
    padding-top: 5%;
    padding-bottom: 2%;
}

.welcome-message {
    padding-bottom: 2.5%;
}

.welcome-phone {
    font-size: 15px;
}

.box {
    margin-bottom: 40px;
}

.description {
    float:left;
    margin-left: 5px;
    margin-bottom: 10px;
}

.birthday-edit {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
}

.close-modal {
    margin-top: 20px;
}
  
.btn-box {
    margin-left: 10px;
    margin-top: 5px;
}
  
.ml10 {
    margin-left: 10px;
}
  
.mr10 {
    margin-right: 10px;
}

.birthday-adds {
    width: 50%;
    margin: 0px auto;
    margin-top: 5%;
    text-align: center;
}

.modal-style {
    text-align: center;

}

#title {
    padding: 20px;
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #birthdays {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #birthdays td, #birthdays th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #birthdays tr:nth-child(even){background-color: #f2f2f2;}
  
  #birthdays tr:hover {background-color: #ddd;}
  
  #birthdays th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3f51b5;
    color: white;
  }

.confirm {
    float: left;
    margin-top: 10px;
    margin-bottom: 10%;
}

.button {
    border-radius: 9px;
    background-color: #3f51b5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.create-button {
    margin-top: 2%;
}