.page-footer {
    background-color: #eee;
    padding-top: 2%;
}

@media only screen and (max-width: 600px) {
    .page-footer {
        background-color: #eee;
        padding-top: 10%;
    }
}

.fa-linkedin {
    color: #0072b1;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-github {
    color: black;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-envelope {
    color: black;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-linkedin:hover, .fa-github:hover, .fa-envelope:hover {
    transform: rotate(180deg);
}
