.page-footer {
    background-color: #eee;
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
}

.fa-linkedin {
    color: #0072b1;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-github {
    color: black;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-envelope {
    color: black;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-linkedin:hover, .fa-github:hover, .fa-envelope:hover {
    transform: rotate(180deg);
}