.footer-div {
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
    width: 100%;
    overflow: hidden;
}

.footer {
    width: 5%;
    margin: 0px auto;
    font-weight: bold;
}

.link-link {
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.link-link:hover{
    color:#0072b1;
}

.fa-linkedin {
    color: #0072b1;
    font-size: 30px;
    margin-right: 5%;
    transition: transform 0.5s ease 0s;
}

.fa-linkedin:hover {
    transform: rotate(180deg);
}