.user-form {
    width: 16%;
    margin: 0px auto;
    margin-top: 10%;
}

@media only screen and (max-width: 600px) {
    .user-form {
        width: 75%;
        margin-top: 35%;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .user-form {
        width: 50%;
        margin-top: 35%;
    }
  }

  @media only screen and (max-width: 1350px) and (min-width: 1024px) {
    .user-form {
        width: 50%;
        margin-top: 50%;
    }
  }
  

.fa-mobile-alt {
    transition: transform 0.5s ease 0s;
}

.fa-mobile-alt:hover {
    transform: rotate(360deg);
}