.navbar-name {
    color: white;
    margin-top:5%;
    font-weight: bold;
}

.navbar-info {
    text-decoration: none;
    color:white;
}

@media only screen and (max-width: 550px) {
    .navbar-info {
        margin-right: 0.75%;
    }
  }

.navbar-info:hover {
    text-transform: uppercase;
    color: white;
}

nav {
    max-height: 5%;
    /* max-width: 75%; */
    margin: 0px auto;
}